/* Variables */

$primaryColour: #F5F5F5;
$boxColour: #F2EFEF;
$fontBorderColour: #707070;

$globalColour: #00AC21;
$entertainmentColour: #AC00C3;
$shoppingColour: #0018D1;


$headingFontStack: SignPainter, Arial, Sans-Serif;

/* Fonts */

@font-face {
    font-family: SignPainter;
    src: url(fonts/SignPainter.ttf);
  }

html,
body {
    margin: 0;
    padding: 0;
    color: $fontBorderColour
}

body { 
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    font-size: 16px;
}

iframe,
#map {
    height: 100vh;
    width: 100%;
    position: absolute
}

#sidebar {
    position: absolute;
    width: 600px;
    height: 95vh;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primaryColour;
    border-radius: 20px;
    border: 1px solid $fontBorderColour;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    #close-sidebar {
        font-weight: bold;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        height: 50px;
        width: 50px;
        border-radius: 20px 0 20px 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 0 1px 1px 0;
        border-color: $fontBorderColour;
        border-style: solid;
        cursor: pointer;
        // color: white;
        // background-color: darkred;
    }

    #filters {
        flex-grow: 1;
    }

    .shopping-filter,
    .entertainment-filter {

        &.shopping-filter {
            margin-bottom: 35px;
        }

        .bullet {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: relative;
    
            
            &.entertainment {
                border: 1px dashed $entertainmentColour;
            }
    
            &.shopping {
                border: 1px dashed $shoppingColour;
            }
    
    
            .bullet-circle {
                height: 14px;
                width: 14px;
                top: 3px;
                left: 3px;
                border-radius: 50%;
                position: absolute;
    
                &.entertainment {
                    background-color: $entertainmentColour;
    
                }
    
                &.shopping {
                    background-color: $shoppingColour;
                }
        
    
            }
        }
    }


    .toggle {
        width: 40px;
        height: 20px;
        border-radius: 18px;
        position: relative;
        transition: all ease-in-out 0.5s;


        &.global {
            background-color: $globalColour;
        }

        &.inactive {
            background-color: darkred;
        }

        &.global:hover {
            animation: active-to-inactive-colour;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-direction: alternate;
   


            .toggle-circle {
                animation: active-to-inactive-move;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;

            }
        }

        &.inactive:hover {
            animation: inactive-to-active-colour;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
     
            .toggle-circle {
                animation: inactive-to-active-move;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;

                left: 25px;
            }
        }

        .toggle-circle {
            background-color: #FFF;
            border-radius: 50%;
            position: absolute;
            height: 10px;
            width: 10px;

            &.active {
                right: 5px;
                top: 5px;
            }

            &.inactive {
                left: 5px;
                top: 5px;
            }

        }
    }
}
        
    

    hr {
        margin-top: 15px;
        box-shadow: 1px 5px 17px rgba(0, 0, 0, 0.4);
        width: 80%;
    }


    h1 {
        font-family: $headingFontStack;
        color: $fontBorderColour;
        text-align: center;
        font-size: 3.5em;
        margin: 5px 0 10px 0;
    }
    header {
        padding: 20px 20px 0 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        p {
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            font-size: 1.1em;
        }

    }
    .inline-container {
        display: inline-flex;
        flex-direction: row;
        margin: 0 auto;
        // display: table;
        justify-content: center;
        align-items: center;

        span {
            margin-left: 10px;
        }


        input[type="text"] {
            height: 40px;
            width: 400px;
            padding: 10px;
            font-size: 0.9em;
            box-sizing: border-box;
            border: 1px solid $fontBorderColour;
            border-radius: 6px;
        }

        #search {
            height: 40px;
            width: 60px;
            border-width: 1px 1px 1px 0;
            border-color: $fontBorderColour;
            border-style: solid;
            border-radius: 0 6px 6px 0;
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;            
        
            &::after {
                content: "";
                background-image: url("../icons/magnifyingglass.svg");
                position: absolute;
                background-repeat: no-repeat;
                height: 35px;
                width: 35px;
                left: 12px;
                top: 2.5px;

            }
            
        }
    }

    section {
            padding: 0 25px 0 25px;
        h2,
        h3 {
            font-family: $headingFontStack;
        
    }

    .grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            padding-left: 15px;
            border: 1px solid transparent;

            &:hover {
                background-color: $boxColour;    
                border-radius: 4px;
                border: 1px solid $fontBorderColour;
                transition: all 0.2 ease;
                
                .bullet {
                    transform: scale(1.1);
                }
            }

            img,
            span {
                margin-left: 12px;
            }

            img {
                height: 40px;
                width: 40px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    


    &#topics-heading {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: row;;
        }
    }
    
    .toggle-container {
        background-color: $boxColour;
        flex-basis: auto;
        padding: 7px 15px 7px 15px;
        border-radius: 12px;
        font-size: 0.9em;
        border: 1px solid $fontBorderColour;
        cursor: pointer;



    }

    #entertainment h3 {
        color: $entertainmentColour;

    }

    #shopping h3{
        margin-top: 10px;
        color: $shoppingColour;
    }

        h2 {
            text-align: center;
            font-size: 2em;
            margin-top: 10px;

        }

        h3 {
            font-size: 1.7em;
        }
    }   

    #availability-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        > div {
            background-color: $boxColour;
            border: 1px solid $fontBorderColour;
            border-radius: 6px;
            width: 40%;
            box-sizing: border-box;
            padding: 7px;
            margin-top: 15px;

            h3 {
                margin-bottom: 10px;
                margin-top: 3px;
            }

            > div {
                display: flex;
                flex-direction: row;
                margin-left: 13px;
                margin-bottom: 10px;

            
                span {
                    margin-left: 10px;
                    margin-top: 3px;

                }

                .bullet {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    position: relative;
                    background-color: #FFF;
                    border: 1px solid $fontBorderColour;
            
            
                    .bullet-circle {
                        height: 10px;
                        width: 10px;
                        top: 5px;
                        left: 5px;
                        border-radius: 50%;
                        position: absolute;

                        &.active {
                            background-color: $fontBorderColour;
                        }

                }
            }
        }

    }
}
    footer {
        p {
            text-align: center;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 25px;
            // margin-top: -25px;
        }

        a {
            text-decoration: none;
            color: #7176FF;
            font-weight: bold;
        }

        #footer-container {
            display: flex;
            flex-direction: row;
            div {
                transition: all 0.8s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 50%;
                text-align: center;
                border-top: 1px solid $fontBorderColour;
                cursor: pointer;
                &:first-child {
                    border-radius: 0 0 0 20px;
                }
                &:last-child {
                    border-left: 1px solid $fontBorderColour;
                    border-radius: 0 0 20px 0;
                }

                &:hover {
                    background-color: $fontBorderColour;
                    color: #FFF;
                }
            }

        }
    }



@keyframes active-to-inactive-move {
    from {
        right: 5px;
    }

    to {
        right: 25px;
    }
}

@keyframes active-to-inactive-colour {
    from {
        background-color: $globalColour;
    }

    to {
        background-color: darkred;
    }
}


@keyframes inactive-to-active-move {
    from {
        left: 5px;
    }

    to {
        left: 25px;
    }
}

@keyframes inactive-to-active-colour {
    from {
        background-color: darkred;
    }

    to {
        background-color: $globalColour;
    }
}




.marker {width:0; height:0;}

.marker > div {
    display: flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  width: 65px;
  height: 65px;
  text-align: center;
  color:#fff;
  font-size: 0.8em;
  background: $entertainmentColour;
  border:solid 2px;
  border-radius: 0 70% 70%;
  box-shadow:0 0 2px #000;
  cursor: pointer;
  transform-origin:0 0;
  transform: rotateZ(-135deg);
}

.marker div div {
    transform: rotate(135deg);
    

}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}